/*--course-box-model--*/

.inner-wrap {
    margin-top: 30px;
    padding-top: 5px;
    border: solid black 1px;
}

.content {
    text-align: center;
}

/*--course--*/
.course-professor-panel {
    margin-top: 20px;
}

/*--courses->chapter--*/
#id_chapter_description {
    resize: none;
}

.message {
    text-align: center;
}

.lesson-table {
    overflow-y: scroll;
    height: 300px;
    display: block;
}



.lesson-table td {
    white-space: pre-line;
    word-break: break-all;
}
