html, body {
    height: 100%;
    font-family: Open Sans;
}

a {
    outline: none !important;
}

@media (min-width: 900px) and (min-height: 650px) {
    .navbar-custum {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.icon-bar {
    background-color: #337ab7;
}

h1, h2 {
    color: #337ab7 !important;
}
