#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 100%;
    overflow-y: hidden;
    background: #75949E;


}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 200px;
}


/* Sidebar styling - the entire ul list */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
    
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000;
    

}

.sidebar-nav li a:hover {
    background: #ED4411;
}