{% load staticfiles %}

<!-- Breadcrumb core css -->
<link href="{% static "css/breadcrumb.css" %}" rel="stylesheet"/>

<div class="bread-h">
  <div class="container">
    <section class="title-section">
      <h1 class="title-header">{{ title }} </h1>
      <ul class="breadcrumb breadcrumb__t">

        <li>
          <a href="/">Home&nbsp</a>
          {% if  path  != None %}
            {% url 'forum' as forum_url %}
            {% if request.get_full_path != forum_url %}
              <span class="spacing-path">&nbsp/&nbsp&nbsp</span><a href="/{{ redirect_path }}">&nbsp{{ path }}&nbsp</a>
            {% endif %}
          {% endif %}
        </li>

        {% url 'student_course' course_name slug as student_course_url %}
        {% if request.get_full_path ==  student_course_url %}
          <li><a href="{% url 'courses' %}">Courses</a></li>
        {% endif %}

        {% url 'chapter' course_name slug as chapter_url %}
        {% if request.get_full_path ==  chapter_url %}
          <li><a href="{% url 'professor_course' course_name %}">{{ course_name }}</a></li>
        {% endif %}

        {% url 'edit_txt' course_name slug text_id as chapter_url %}
        {% if request.get_full_path ==  chapter_url %}
          <li><a href="{% url 'chapter' course_name slug %}">{{ course_name }}</a></li>
        {% endif %}

        {% url 'edit_chapter' course_name chapter_id as chapter_url %}
        {% if request.get_full_path ==  chapter_url %}
          <li><a href="{% url 'professor_course' course_name %}">{{ course_name }}</a></li>
        {% endif %}

        {% url 'edit_link' course_name slug yt_id as chapter_url %}
        {% if request.get_full_path ==  chapter_url %}
          <li><a href="{% url 'chapter' course_name slug %}">{{ course_name }}</a></li>
        {% endif %}

        <li class="active">&nbsp{{ title }}</li>
      </ul>
    </section>
  </div>
</div>