{% block cbox_model %}

    <div class="container content">

        <div class="row">
          <div class="col-md-4 course-box-model">
            <div class="inner-wrap">
              <h3>Course-Tittle</h3>
              <p>Description</p>
            </div>
          </div>

          <div class="col-md-4 course-box-model">
            <div class="inner-wrap">
              <h3>Course-Tittle</h3>
              <p>Description</p>
            </div>
          </div>

          <div class="col-md-4 course-box-model">
            <div class="inner-wrap">
              <h3>Course-Tittle</h3>
              <p>Description</p>
            </div>
          </div>

        </div>

    </div>

{% endblock %}