{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <!----start-banner---->
  <div class="banner text-center"></div>
  <!----end-banner---->

  <!----start-content---->
  <div class="featured_content" id="feature">
    <div class="container">
      <div class="row text-center">

        <div class="col-md-3 feature_grid1">
          <i class="icon1"> </i>
          <h3 class="m_1"><a href="#">Video Lectures</a></h3>
          <p class="m_2">Learn anything by watching educational videos!</p>
        </div>

        <div class="col-md-3 feature_grid1">
          <i class="icon2"> </i>
          <h3 class="m_1"><a href="#">Research</a></h3>
          <p class="m_2">Make experiments with lectures and discuss it on forums!</p>
        </div>

        <div class="col-md-3 feature_grid1">
          <i class="icon3"> </i>
          <h3 class="m_1"><a href="#">Solutions</a></h3>
          <p class="m_2">Improve this website by sharing better solutions!</p>
        </div>

        <div class="col-md-3 feature_grid1">
          <i class="icon4"> </i>
          <h3 class="m_1"><a href="#">Activism</a></h3>
          <p class="m_2">Get involved with our website by sharing this website!</p>
        </div>

      </div>
    </div>
  </div>

  <hr/>
  </div>

{% endblock %}


