{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h2 class="user-main-title" style="text-align: center">
     Professor Dashboard
  </h2>
  <hr/>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <form method='POST' action=''>
        {% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-primary' type='submit' value='Add course'/>
        </form>
      </div>
    </div>
  </div>
  <hr/>

  <h3 class="lead" style="text-align: center">
  Added Courses
  </h3>  

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if queryset %}
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Course name</th>
              <th>Date created</th>
            </tr>
            </thead>
            {% for instance in queryset %}
              <tr>
                <td>{{ instance.id }}</td>
                <td>{{ instance.course_name }}</td>
                <td>{{ instance.created_date }}</td>
                <td><input class='btn btn-primary' type='submit' value='Delete Course' name="{{ instance.id }}"/></td>
              </tr>
            {%endfor%}
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}