{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h2 class="user-main-title" style="text-align: center">
    Admin Panel
  </h2>
  <hr/>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_user_form|crispy }}
          <input class='btn btn-primary' type='submit' value='Add User'/>
        </form>
      </div>

      <div class="col-md-10">
        {% if queryset %}
          <table class="table">
            <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Active</th>
              <th>Staff</th>
              <th>Superuser</th>
              <th>Date joined</th>
              <th>Last login</th>
            </tr>
            </thead>
            {% for instance in queryset %}
              <tr>
                <td><a href="/user/edit/{{ instance.username }}">{{ instance.username }}</a></td>
                <td>{{ instance.email }}</td>
                <td>{{ instance.is_active }}</td>
                <td>{{ instance.is_staff }}</td>
                <td>{{ instance.is_superuser }}</td>
                <td>{{ instance.date_joined }}</td>
                <td>{{ instance.last_login }}</td>
                <td>
                  <a href="/user/delete/{{ instance.username }}">
                    <button class="btn btn-danger btn-sm">
                      Delete{{ instance.delete }}</button>
                  </a>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

      </div>


    </div>
  </div>

{% endblock %}