{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <!-- Chapter css is in course core css -->
  <link href="{% static "css/course.css" %}" rel="stylesheet"/>
  <script src="{% static "js/tinymce/jquery.tinymce.min.js" %}"></script>
  <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
  <script>tinymce.init({
    selector: 'textarea', resize: false
  });
  </script>
  {% include 'breadcrumb.html' %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 chapter-text-input">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_txt_form|crispy }}
          <input class='btn btn-primary' type='submit' name="add_text" value='Add text'/>
        </form>
      </div>

      <div class="col-md-3">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_link_form|crispy }}
          <input class='btn btn-primary' type='submit' name="add_link" value='Add YouTube video link'/>
        </form>
      </div>

      <div class="col-md-3">
        <form method='POST' action='' enctype="multipart/form-data">
          {% csrf_token %}
          {{ file_upload_form|crispy }}
          <input class='btn btn-primary' type='submit' name="add_file" value='Add File'/>
        </form>
      </div>
    </div>
  

    <!-- Chapter text row -->
    <div class="row">
      {% if queryset_txt_block %}
        <table class="table table-bordered generic-table scroll">
          <thead>
          <tr>
            <th>Lessons</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_txt_block %}
            <tr>
              <td class="col-md-8">{{ instance.lesson|safe }}</td>
              <td class="col-md-2">{{ instance.date_created }}</td>
              <td class="col-md-2">
                <a href="{% url 'edit_txt' course_name slug instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Edit Lesson'/>
                </a>
                <a href="{% url 'delete_txt' instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Delete Lesson'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>

    <!-- Link row -->
    <div class="row">
      {% if queryset_yt_link %}
        <table class="table table-bordered generic-table scroll_table">
          <thead>
          <tr>
            <th>Link</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_yt_link %}
            <tr>
              <td class="col-md-8">{{ instance.link }}</td>
              <td class="col-md-2">{{ instance.date_created }}</td>
              <td class="col-md-2">
                <a href="{% url 'edit_link' course_name slug instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Edit Link'/>
                </a>
                <a href="{% url 'delete_link' instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Delete Link'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  


    <!-- File row -->
    <div class="row">
      {% if queryset_files %}
        <table class="table table-bordered generic-table scroll_table">
          <thead>
          <tr>
            <th>File</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_files %}
            <tr>
              <td class="col-md-8">
              <a href='{{ instance.file.url }}'>{{ instance.file }}</a>
              </td>
              <td class="col-md-2">{{ instance.date_created }}</td>
              <td class="col-md-2">
                <a href="{% url 'delete_file' instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Delete File'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>



{% endblock %}