{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h2 class="user-main-title" style="text-align: center">{{ title }}</h2>
  <hr/>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_chapter_form|crispy }}
          <input class='btn btn-primary' type='submit' value='Add chapter'/>
        </form>
      </div>
    </div>
  </div>

  <h3 class="lead" style="text-align: center">Chapters</h3>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if queryset_chapter %}
          <table class="table table-condensed table-hover">
            <thead>
            <tr>
              <th>Chapter name</th>
              <th>Date created</th>
              <th>Actions</th>
            </tr>
            </thead>
            {% for instance in queryset_chapter %}
              <tr>
                <td><a href="{{ instance.get_absolute_url }}">{{ instance.chapter_name }}</a></td>
                <td>{{ instance.chapter_created_date }}</td>
                <td>
                  <a href="{% url 'courses' %}edit/{{ instance.course }}/{{ instance.id }}">
                    <input class='btn btn-primary btn-sm' type='submit' value='Edit Chapter'/>
                  </a>
                  <a href="{% url 'courses' %}delete/{{ instance.course }}/{{ instance.id }}">
                    <input class='btn btn-danger btn-sm' type='submit' value='Delete Chapter'/>
                  </a>
                </td>
              </tr>
            {%endfor%}
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
