{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <!-- Course core css -->
  <link href="{% static "css/course.css" %}" rel="stylesheet"/>

  {% include 'breadcrumb.html' %}

  <div class="container course-professor-panel">
    <div class="row">
      <div class="col-md-3">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_chapter_form|crispy }}
          <input class='btn btn-primary' type='submit' value='Add chapter'/>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if queryset_chapter %}
          <table class="table table-condensed table-hover generic-table">
            <thead>
            <tr>
              <th>Chapter name</th>
              <th>Date created</th>
              <th>Actions</th>
            </tr>
            </thead>
            {% for instance in queryset_chapter %}
              <tr>
                <td class="col-md-8"><a href="{{ instance.get_absolute_url }}">{{ instance.chapter_name }}</a></td>
                <td class="col-md-2">{{ instance.chapter_created_date }}</td>
                <td class="col-md-2">
                  <a href="{% url 'edit_chapter' instance.course instance.slug %}">
                    <input class='btn btn-primary btn-sm' type='submit' value='Rename'/>
                  </a>
                  <a href="{% url 'delete_chapter' instance.course instance.slug%}">
                    <input class='btn btn-danger btn-sm' type='submit' value='Delete'/>
                  </a>
                </td>
              </tr>
            {%endfor%}
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
