{% block cbox_model %}
  {% load staticfiles %}

  <div class="container content">
    <link href="{% static "css/course.css" %}" rel="stylesheet"/>
    <div class="row">
      {% if queryset %}
        {% for instance in queryset %}
          <div class="col-md-4 course-box-model">
            <a href="{% url 'course_homepage' instance.course_name %}">
              <div class="inner-wrap">
                <div class="inner-top">
                  {{ instance.course_name }}
                </div>
                <div class="inner-middle"></div>
                <div class="inner-bottom">
                  <span class="author">Author: {{ instance.user }}</span>
                  <span class="course-type">Self-Paced</span>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock %}