{% block content %}

  <div class="container">
    <div class="row">

      {% if queryset_txt_block %}
        <table class="col-md-12 table lesson-table">
          <thead>
          <tr>
            <th>Lessons</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_txt_block %}
            <tr>
              <td class="col-md-8">{{ instance.chapter_description }}</td>
              <td class="col-md-2">{{ instance.txt_created_date }}</td>
              <td class="col-md-2">
                <a href="{% url 'edit_txt' course_name chapter_id instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Edit'/>
                </a>
                <a href="{% url 'delete_txt' instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Delete'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

    </div>
  </div>

{% endblock %}