{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if queryset_txt_block %}
          <table class="table">
            <thead>
            <tr>
              <th>Lessons</th>
              <th>Date created</th>
              <th>Actions</th>
            </tr>
            </thead>
            {% for instance in queryset_txt_block %}
              <tr>
                <td>{{ instance.chapter_description }}</td>
                <td>{{ instance.txt_created_date }}</td>
                <td>
                  <a href="{% url 'edit_txt' course_name chapter_id instance.id %}">
                    <input class='btn btn-primary btn-sm' type='submit' value='Edit Lesson'/>
                  </a>
                  <a href="{% url 'delete_txt' instance.id %}">
                    <input class='btn btn-primary btn-sm' type='submit' value='Delete Lesson'/>
                  </a>
                </td>
              </tr>
            {%endfor%}
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}