{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- About core css -->
  <link href="{% static "css/about.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}


  <div class="about_bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8 about_left">
          <h3 class="m_2">A New Team</h3>
          <ul class="about_grid1 about_box">
            <li class="about_img"><img src="{% static "img/a1.jpg" %}" class="img-responsive" alt=""/></li>
            <li class="about_desc">
              <h5><a href="#">Orange-team</a></h5>
              <p>e-Learning is online educational site, we aspire for great design, a place to study and share ideas.
                Our goal is to create solutions that are exploratory, educational and inspirational. Let's work together!
               Register for free and enjoy countless educational video lectures.</p>
              <a href="#" class="about_btn">more</a>
            </li>
            <div class="clearfix"></div>
          </ul>

          <ul class="about_grid1">
            <li class="about_img"><img src="{% static "img/a2.jpg" %}" class="img-responsive" alt=""/></li>
            <li class="about_desc">
              <h5><a href="#">Clients & Recognition</a></h5>
              <p>Founded by extension engine in 2016, e-Learning is an online learning destination and MOOC provider,
                offering high-quality courses from the world’s best universities and institutions to learners everywhere.
                With more than 20 global partners, we are proud to count the world’s leading universities, nonprofits,
                and institutions as our members.</p>
              <a href="#" class="about_btn">more</a>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>

        <div class="col-md-4">
          <h3 class="m_2">Investment Focuses</h3>
          <div class="list styled custom-list">
            <ul>
              <li><span class="dropcap">1.</span>
                <h5><a href="#">Increase access to high-quality education for everyone, everywhere.</a></h5>
                <p> Our students come from every country in the world! Whether you are interested in computer science,
                  languages, engineering, psychology, writing, electronics, biology, or marketing, we have the course
                  for you!
                </p>
              </li>
              <li><span class="dropcap">2.</span>
                <h5><a href="#">Enhance teaching and learning on campus and online.</a></h5>
                <p>We always try to improve our services by keeping content up-to-date and motivate our professors to
                  perform to their fullest. We take our mission of increasing global access to quality education
                  seriously. We connect learners to the best universities and institutions from around the world.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>







{% endblock %}