{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Contact core css -->
  <link href="{% static "css/contact.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}

  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 contact_details">
          <h5>Address :</h5>
          <i class="address"></i>
          <div class="contact_address">
            in the middle of nowhere 42<br>
          </div>
        </div>
        <div class="col-md-4 contact_details">
          <h5>Phone :</h5>
          <i class="phone"></i>
          <div class="contact_address">
            55-254-2565<br>
            35-0258-2568<br>
          </div>
        </div>
        <div class="col-md-4 contact_details">
          <h5>Email :</h5>
          <i class="mail"></i>
          <div class="contact_mail">
            info-orangeteam@gmail.com
          </div>
        </div>
      </div>
      <div class="contact_bottom">
        <h3>Contact Information</h3>
        <p>Please use the contact form below if you have any questions or requests. concerning our services. Or send us
          email from information provided above. We will respond to your message within 24 hours.</p>
        <form method="post" action="contact-post.html">
          <div class="contact-to">
            <input type="text" class="text" value="Name..." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Name...';}">
            <input type="text" class="text" value="Email..." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Email...';}" style="margin-left: 10px">
            <input type="text" class="text" value="Subject..." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Subject...';}" style="margin-left: 10px">
          </div>
          <div class="text2">
          <textarea value="Message:" onfocus="this.value = '';"
                    onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
          </div>
          <div>
            <a href="#" class="submit">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}