{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <!-- Professor core css -->
  <link href="{% static "css/professor.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}

  <div class="container professor-panel-content">
    <div class="row">
      <div class="col-md-4">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_course_form|crispy }}
          <input class='btn btn-primary' type='submit' value='Add course'/>
        </form>
      </div>

      <div class="col-md-8">
        {% if queryset_course %}
          <table class="table table-condensed table-hover generic-table table-bordered table-striped">
            <thead>
            <tr>
              <th>Course name</th>
              <th>Date created</th>
              <th>Action</th>
            </tr>
            </thead>
            {% for instance in queryset_course %}
              <tr>
                <td><a href="{% url 'professor_course' instance.course_name %}">{{ instance.course_name }}</a></td>
                <td>{{ instance.course_created_date }}</td>
                <td>
                  <a href="{% url 'edit' instance.course_name %}">
                    <input class='btn btn-primary btn-sm' type='submit' value='Edit Course'/>
                  </a>
                  <a href="{% url 'delete' instance.course_name %}">
                    <input class='btn btn-danger btn-sm' type='submit' value='Delete Course'/>
                  </a>
                  <a href="{% url 'list_students' instance.course_name %}">
                    <input class='btn btn-info btn-sm' type='submit' value='Edit students'/>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}