{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <!-- Professor core css -->
  <link href="{% static "css/professor.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}

  <div class="container professor-panel-content">
    <div class="row">
      <div class="col-md-3">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_course_form|crispy }}
          <input class='btn btn-primary' type='submit' value='Add course'/>
        </form>
      </div>
    </div>

    <hr/>

    <h3 class="lead" style="text-align: center">
      Your Courses
    </h3>

    <div class="row">
      <div class="col-md-12">
        {% if queryset_course %}
          <table class="table table-condensed table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Course name</th>
              <th>Date created</th>
              <th>Action</th>
            </tr>
            </thead>
            {% for instance in queryset_course %}
              <tr>
                <td>{{ instance.id }}</td>
                <td><a href="{{ instance.get_absolute_url }}">{{ instance.course_name }}</a></td>
                <td>{{ instance.course_created_date }}</td>
                <td>
                  <a href="{% url 'courses' %}{{ instance.course_name }}/edit">
                    <input class='btn btn-primary' type='submit' value='Edit Course'/>
                  </a>
                  <a href="{% url 'courses' %}{{ instance.course_name }}/delete">
                    <input class='btn btn-primary' type='submit' value='Delete Course'/>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}