  {% extends 'base.html' %}

  {% block content %}

  <div class="col-md-2">
  	<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		{% if chapter_list %}
			{% for instance in chapter_list %}
				<ul>
					<li><a href="{% url 'student' %}{{course_name}}/{{instance.chapter_name}}">
					{{ instance.chapter_name}}
					</a></li>
				</ul>
			{% endfor %}
		{% endif %}
    </ul>
</div>
  </div>

  <div class="col-md-10">	
  	<p style="text-align: center">{{ course_name }}</p>

  	{% if text %}
  		{% for instance in text %}
  			{{ instance.chapter_description}}
  			<hr/>
  		{% endfor %}
  	{% endif %}

  	{% if videos %}
  		{% for instance in videos %}
  			<iframe width="420" height="315" src="{{ instance.link }}" frameborder="0" allowfullscreen></iframe>
  			<hr/>
  		{% endfor %}
  	{% endif %}

  </div>
  {% endblock %}