  {% extends 'base.html' %}
  {% load staticfiles %}

  	{% block content %}
  		<link href="{% static 'css/sidebar.css' %}" rel="stylesheet"/>
  		

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	{% if chapter_list %}
        	{% for instance in chapter_list %}
            <ul class="sidebar-nav">
            	<li><a href="{% url 'student' %}{{course_name}}/{{instance.chapter_name}}">
					{{ instance.chapter_name}}
					</a>
				</li> 
            </ul>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="text-align: center">{{ course_name }}</h1>
                        {% if result_list %}
  							{% for item in result_list %}
  								{% if item.link %}
  								<div align="center">
  									<br>
  									<p>&nbsp;</p>
  									<iframe width="640" height="360" src="{{item.link}}" frameborder="0" allowfullscreen></iframe>
  								</div>
  								{% else %}
  									<br>
  									<p>&nbsp;</p>
  									{{item.chapter_description}}
  								{% endif %}
  							{% endfor %}
  						{% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% endblock %}
