{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <!-- Contact core css -->
  <link href="{% static "css/sysadmin.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}

  <div class="container-fluid admin-panel-content">
    <div class="row">

      <div class="col-md-2">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_user_form|crispy }}
          <input class='btn btn-primary' type='submit' value='Add User'/>
        </form>
      </div>

      <div class="col-md-10">

        <form class="form-inline admin-search-form" method='GET' action="" role="form">
          <div class="form-group">
            <input class="form-control" type="text" name="search" placeholder="Search students"
                   value="{{ request.GET.search }}"/>
            <button class="btn btn-danger btn-md">Submit</button>
          </div>
        </form>

        {% if queryset %}
          <table class="table table-striped table-condensed generic-table">
            <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Active</th>
              <th>Professor</th>
              <th>Admin</th>
              <th>Date joined</th>
              <th>Last login</th>
              <th></th>
            </tr>
            </thead>
            {% for instance in queryset %}
              <tr>
                <td><a href="{% url 'update_user' instance.username %}">{{ instance.username }}</a></td>
                <td>{{ instance.email }}</td>
                <td>{{ instance.is_active }}</td>
                <td>{{ instance.is_professor }}</td>
                <td>{{ instance.is_site_admin }}</td>
                <td>{{ instance.date_joined }}</td>
                <td>{{ instance.last_login }}</td>
                <td>
                  <a href="{% url 'delete_user' instance.username %}">
                    <button class="btn btn-danger btn-sm">Delete{{ instance.delete }}</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}